.venv/
venv/
settings.toml
state.json

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
